body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    }
h1{
    font-size: 50px;
  }
.red{
    color: red;
    }
.blue{
    color:mediumblue;
     }
.flexiable-container{
    display:flex;
    margin-bottom: 50px;
       }
.half{width: 50%;

     }
.half img{ padding-left: 30%;
           padding-bottom: 2%;
           height: 400px;
           width: 300px;


          }
.fonte{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

     }
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: papayawhip;
    box-shadow: 5px 5px 9px gray;
}
.top-banner{
    background-image:url(image/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.dream-big{
    background-image:url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-got{
  width:40% ;
  box-shadow: 15px 15px 40px  gray;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 20px;
}
.experiance-area{
    background-image:url(image/exp-bg.png);
    background-repeat: no-repeat;
} 
#marzin-color{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
#secend-marzin-color{
    border-left: 7px solid;
    border-image:linear-gradient(orange, tomato) ;
    border-image-slice: 1;   
}
footer p {
    text-align: center;

}